<article class="resume-wrapper text-center position-relative">
  <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">

    <div class="resume-body p-5">
      <h1 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">{{title}}</h1>
      <section class="resume-section summary-section mb-5">
        <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">What we want you to do</h3>
        <div class="resume-section-content">
          <p class="mb-0">As a user I want to have access to an Insurance Manager with a search feature providing the following criteria:</p>
          <ul>
            <li>Product name</li>
            <li>Insurance Company (i.e.: Zurich, AXA, Liberty, etc, etc,...)</li>
            <li>Policy Kind (Car, House, Life, etc, etc...)</li>
            <li>Price</li>
          </ul>
          <p class="mb-0">Each policy will have these 4 fields.</p>
          <p class="mb-0">When I perform a search which has results, I’d like to see its resulting insurance list composed by those 4 fields and the company logo. I also want to have the ability to sort the list by company, kind and price with the option to decide if it is in ascending or descending order.</p>
          <p class="mb-0">I also want to be able to manage a favourite policies list, so I want to be able to select policies from the result list and save them on my favourite list. Favourites should be displayed on a modal as a list similar to the search result list but without the price. I would like to be able to open this modal by clicking on a button, which should be placed on the page in a manner that it’s always easily accessible.</p>
          <p class="mb-0">In the favourites modal, I want to be able to search by name, company and kind and have the possibility to remove the policies from the favourite list, without having to close the modal.</p>
          <p class="mb-0">The JSON with the policies information contains 33 entries, but they should NOT be displayed all at once. Lists should be built with 5 policies at time, with an initial load of 5 when the page is loaded, so some pagination feature should be implemented in order to view the remaining items (clicking a button, with endless scroll...it’s up to you).</p>
        </div>
      </section><!--//summary-section-->

      <section class="resume-section summary-section mb-5">
        <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Delivery requirements</h3>
        <div class="resume-section-content">

          <p class="mb-0">You can use any strategy you prefer for storing the favourites list and it is not required that such list has to persist after page reload.</p>
          <p class="mb-0">You must attach your solution with all the files required for making it work in a single zip file or provide the same files by a BitBucket or a GitHub private repository.</p>
          <p class="mb-0">The solution must run properly and a text file with any instruction required for compiling and/or running it should be provided as it would be directed to a no technical user.</p>
        </div>
      </section><!--//summary-section-->

      <section class="resume-section summary-section mb-5">
        <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Delivery extra (not required)</h3>
        <div class="resume-section-content">
          <ul>
            <li>In the image folder in addition to the insurance companies logo, there are also the product kind (health, car, etc, etc,...) icons, whose are correctly referenced in the provided JSON. The candidate is free to show is creativity by deciding by its own if and how want to use them in the provided solution.</li>
            <li>Any kind of look & feel or usability improvement for showing your ability/experience in making attractive UI/UX will be evaluated</li>
            <li>Any extra comment explaining about what was done or what the candidate would had wanted to improve but didn’t due to lack of time, will be appreciated and evaluated.</li>
          </ul>
        </div>
      </section><!--//summary-section-->
    </div>
  </div>
</article>
