// Footer Component

.footer {
  z-index: 10000;
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  display: block;
}

.text-white {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
