// Modal Component

app-modal {
  margin-bottom: 100px !important;
}

.btn {
  color: white;
}

.btn:hover {
  color: #fcbb33 !important;
}

.modal-content .modal-body {
  padding: 10px !important;
}



.btn-danger {
  margin-right: 10px !important;
}
