/* You can add global styles to this file, and also import other style files */
.modal-open .modal {
  overflow-x: scroll !important;
  overflow-y: scroll !important;
}

.modal.show .modal-dialog {
  margin-bottom: 100px !important;
}

.swal2-cancel,
.swal2-confirm {
  color: white !important;
}

.dropdown-menu {
  z-index: 10003 !important;
}

ngb-typeahead-window {
  z-index: 10002 !important;
}


